*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: black;
  color: white;
  font-size: 14px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header{
  height: 50px;
  text-align: right;
  padding: 5px;
}

.view button{
  background-color: #35363A;
  color: white;
  padding: 5px;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
}

main{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: calc(100vh - 130px);
  overflow: auto;
}

.participants{
  position: relative;
  width: 250px;
  height: 150px;
  padding: 2px;
}

.participants img{
  width: 100%;
  height: 100%;
}

.participants span{
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  padding: 8px;
}

footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background-color: #222;
}

.menu-left, .menu-center, .menu-right{
  display: flex;
  flex-shrink: 0;
}

.icon{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 8px;
  cursor: pointer;
}

.icon i{
  margin-bottom: 5px;
}

.icon.active i{
  color: #4BC800;
}

.menu-right button{
  height: 80px;
  color: red;
  background-color: #4A4A4A;
  border: none;
  padding: 0 15px;
  cursor: pointer;
}